<header><%- include("navbar.ejs")%></header>

<% if(locals.user){ %>
<div class="container">

  <div class="row mt-2 text-primary">

    <h2>Create New Habits</h2>
  </div>
  <!-- dashboard page is where we create new habits: we have a form to create new habits: 
  we have a list of habits:
  we have a remove button for each habit:
  we have a steak on each habit:
  we have a habit compilation:
  we have a week view button:
  we have a logout button: -->
 
  <div class="row mt-3 mb-3">
    <form action="/habit/create" method="post">
      <input class="form-control p-3" type="text" name="habit" placeholder="Enter habit" />
      <input class="btn btn-primary btn-lg btn-block" style="width: 100%" type="submit" value="Create Habit" />
    </form>
  </div>
</div>

<div class="container">
  <div class="row border">


    <%if(habits.length>0){%>
      <ol class="list-group list-group-numbered">
        <%for(let habit of habits){ %>
          <li class="
          list-group-item
          d-flex
          justify-content-between
          align-items-start
          m-3
        ">
      
            <div class="me-auto">
              <div class="fw-bold">
                <%=habit.description%>
              </div>

              <a href="/habit/delete/<%=habit.id%>"><button class="btn btn-danger btn-sm m-3">RemoveHabit</button></a>

              <span class="badge bg-success rounded-pill">Streak : <%=habit.streak%>/7</span>

              <span class="badge bg-success rounded-pill mx-4">
                Completed : <%=habit.completed%>/7</span>
            </div>
          </li>
          <%}%>
      </ol>
      <%}%>
  </div>
</div>
<% } %>